article {
	background-color: rgba(0,0,0,0.7);
	color: silver;
	padding: 1vw;
	border-radius: 15px;
	height: 100%;
}

.articlebg {
	min-height: 40vh;
	max-height: 60vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media only screen and (max-width: 768px) {
	.articlebg {
		min-height: 20vh;
		max-height: 100vh;
	}
	article {
		font-size: 75%;
	}
	article > h2 {
		font-size: large;
	}
	#brand > img{
		max-width: 60vw;
		object-fit: contain;
	}
}

.contact_tab {
	text-align: center;
	color: silver;
	font-family: Calibri;
	background-color: #000000;
	min-height: 5vh;
}

#carousel {
	display: inline-block;
	overflow: hidden;
	width: 100%;
}

.carousel-item > img {
	width: 100%;
	object-fit: cover;
}

#address {
	width: 100%;
	background-color: black;
}

#address.container-flex {
	object-fit: contain;
	text-align: center;
	font-weight: bolder;
}

@media only screen and (max-width: 768px) {
	#carousel {
		height:40vh;
	}
	.carousel-item > img {
		height: 40vh;
	}
	#address.embed-responsive{
		height: 35vh;
	}
	#address.container-flex {
		padding-top: 4vh;
		padding-bottom: 2vh;
		font-size: 90%;
	}
}

@media only screen and (min-width: 768px) {
	#carousel {
		height:80vh;
	}
	.carousel-item > img {
		width: 100vw;
		height: 80vh;
	}
	#address.embed-responsive{
		height: 50vh;
	}
	#address.container-flex {
		padding-top: 2vh;
		padding-bottom: 2vh;
		font-size: 110%;
	}
}

.captbg {
	background-color: rgba(0,0,0,0.7);
	color: silver;
	padding: 5px;
	border-radius: 25px;
}

#phone, #mail {
	font-weight: bolder;
	font-size: 110%;
}