article {
	background-color: rgba(0,0,0,0.7);
	color: silver;
	padding: 1vw;
	border-radius: 15px;
}

.articlebg {
	min-height: 30vh;
	max-height: 60vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contact_tab {
	text-align: center;
	color: silver;
	font-family: Calibri;
	background-color: #000000;
	min-height: 5rem;
	max-height: 15vh;
}

#carousel {
	display: inline-block;
}

.carousel-item > img {
	width: 100vw;
	height: 80vh;
	object-fit: cover;
	
}

.captbg {
	background-color: rgba(0,0,0,0.7);
	color: silver;
	padding: 5px;
	border-radius: 25px;
}